{% extends 'base.html' %}
{% block content %}

<div class="container">

    <div class="breadcrumb">
        {% block breadcrumb %}
        {{ super() }}  
        <li class="breadcrumb-item"><a href="{{url_for('planner.home')}}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{{url_for('planner.venue_list')}}">Manage Venue</a></li>
        <li class="breadcrumb-item"><a href="{{url_for('planner.menu_list')}}">Menu List</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Menu</li>
        {% endblock %}
    </div>


    <h2>Edit Menu</h2>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
            {% for message in messages %}
                <li class="flash-message">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
    <div style="display: flex;">

        <div style="flex: 1; margin-right: 20px;">
            <form method="POST" action="{{ url_for('planner.edit_menu', menu_id=menu.food_id) }}">

                <label for="menu_name">Menu Name:</label>
                <input type="text" name="menu_name" value="{{ menu.name }}" required>
        
                <label for="price">Price:</label>
                <input type="number" name="price" step="0.01" value="{{ menu.price }}">

                <label for="description">Description:</label>
                <textarea name="description" rows="4" cols="50" value = "{{ menu.description}}">{{ menu.description }}</textarea>
          
                <input type="submit" value="Save Changes" class = "button">
        
            </form>
        </div>

        <div style="flex: 1;">
            {% if menu.image %}
                <p>Image of the menu:</p>
                <img src="{{ url_for('static', filename=menu.image) }}" alt="menu Image"><br><br>
                <form method="POST" action="{{ url_for('planner.delete_menu_image', menu_id=menu.food_id) }}">
                    <button type="submit" class="btn btn-dark" style="width:100px;" onclick="return confirm('Are you sure you want to delete this image?');">Delete</button>
                </form><br><br>
            {% else %}
                <h5>No Image for this menu</h5>
            {% endif %}

            <div class="row">
                <p>Upload New Image for this menu (jpg,jepg,png,gif only):</p><br><br>
                <form method="POST" action="{{ url_for('planner.add_menu_image', menu_id=menu.food_id) }}" enctype="multipart/form-data">
                    <input type="file" name="menu_image" class="venue-textarea" accept="image/*">
                    <button type="submit" class="button" style="width:150px;">Upload Image</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
