{% extends "base.html" %}
{% block content %}

<div class = "container">

    <div class = "breadcrumb">
        {% block breadcrumb %}
        {{ super() }}  
        <li class="breadcrumb-item"><a href="{{url_for('planner.home')}}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{{url_for('planner.accepted_bookings', plannerID = current_user.id)}}">Accepted Bookings</a></li>
        <li class="breadcrumb-item active" aria-current="page">View Quote</li>
        {% endblock %}
    </div>

    <div class="container mt-5">
        <div class="header text-center">
            <h2>Event Planning Quote</h2>
        </div>
    
        <div class="row mt-5">
            <div class="col-md-4">
                <!-- Quoted for -->
                <h5>Quoted for</h5>
                <p>{{aBooking[2]}}</p>
                <p>{% if aBooking[16] == None %} N/A {% else %} {{aBooking[16]}} {% endif %}</p>
                <p>{% if aBooking[3] == None %}  N/A  {% else %} {{aBooking[3]}} {% endif %}</p>
            </div>


            <div class="col-md-4">
                <!-- Event Information -->
                <h5>Event Information</h5>
                <p>Event Venue: {{aBooking[5]}}</p>
                <p>Place of Event: {{aBooking[6]}}</p>
                <p>Date of Event: {{aBooking[9].strftime('%d-%m-%Y')}}</p>
                <p>Start Time: {{aBooking[10].seconds // 3600 }}:{{ (aBooking[10].seconds // 60) % 60 }}0</p>
                <p>End Date: {{aBooking[11].strftime('%d-%m-%Y')}}</p>
                <p>Finish Time: {{aBooking[12].seconds // 3600 }}:{{ (aBooking[12].seconds // 60) % 60 }}0</p>
            </div>
            


            <div class="col-md-4">
                <!-- Company Info -->
                <h5>Plan-it Right</h5>
                <p>plan_itright@email.com</p>
                <p>Event Planner: {{aBooking[17]}}</p>
            </div>
        </div>


        <div class="row mt-5">
            <div class="col">
                <h5>Event Planning Pricing</h5>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Activity</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Venue Fee</th>
                            <td>{{ aQuote[2] }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Decoration Fee</th>
                            <td>{{ aQuote[3] }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Menu Price</th>
                            <td>{{ aQuote[4] }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Additional Requirements</th>
                            <td>{{ aQuote[14] }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Discounts</th>
                            <td>{{ aQuote[6] }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Total Before Tax</th>
                            <td>{{ aQuote[10] }}</td>
                        </tr>
                        <tr>
                            <th scope="row">GST</th>
                            <td>{{ aQuote[11] }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Total After Tax</th>
                            <td>{{ aQuote[12] }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="footer" style="height: 300px;">
            <div class="row">
                <div class="col-md-4">
                    <h5>Terms and Conditions</h5>
                    <p>{{aQuote[9]}}</p>
                    <p>ExpiryDate for this Quotation:{{aQuote[8].strftime('%d-%m-%Y')}}  </p>
                    <p>Event Changes: Any changes to the event details (like date, location, number of attendees) must be communicated in writing at least 14 days before the event. </p>
                </div>
                <div class="col-md-4 text-center">
                    <p>Plan-it Right Ltd</p>
                    <hr>
                    <p></p>
                    <hr>
                </div>
                <div class="col-md-4 text-right">
                    <h5>Plan-it Right</h5>
                    <p>123 One Two Three Street, Wonderland</p>
                    <p>(555) 000-0000</p>
                    <p>plan_itright@email.com</p>
                </div>
            </div>
        </div>
    </div> 
    
    <form method="post" action="{{ url_for('planner.view_quote', bookingID = bookingID) }}">
        <div class="form-group position-relative">
            <input type="radio" id="export_method" name="export_method" value="pdf" style="margin-left: 5px;">
            <label for = "export_method" style="display: inline; margin-left: -50%;"> Generate PDF </label>
        </div>

        <div class="btn-toolbar justify-content-center">
            <input type="submit" value="Export" class="btn w-50 w-lg-25" style="margin-bottom: 15px; padding: 8px; background-color: #382a33;">
        </div>
    </form>
</div>

{% endblock %}