{% extends "base.html" %}
{% block content %}

<div class = "container">

    <div class="breadcrumb">
        {% block breadcrumb %}
        {{ super() }}  
        <li class="breadcrumb-item"><a href="{{url_for('customer.home')}}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{{url_for('home.home')}}">View Venues</a></li>
        <li class="breadcrumb-item active" aria-current="page">Booking</li>
        {% endblock %}
    </div>

    <!-- Venue Display Section -->
    <div class="row">
        <div class="col-lg-7">
            <!-- Display Selected Venue Details -->
            <h2>{{ selected_venue.get_venueName }}</h2>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flash-messages">
                    {% for message in messages %}
                        <li class="flash-message">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <br>

            <!-- Image Carousel for Venue Images -->
            <div class = "swiper-wrapper-outer-container">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {% for image_url in selected_venue.image_content %}
                        <div class="swiper-slide">
                            <img src="{{ image_url }}" alt="Venue Image" class="image-class">
                        </div>
                        {% endfor %}
                    </div>
                    
                    <!-- Pagination and navigation for the swiper carousel -->
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
            
        </div>

        <div class="col-lg-5">
            <!-- Venue Details Section -->
            <div class="right-container">
                <p><strong>Location:</strong> {{ selected_venue.get_location }}</p>
                <p><strong>Event Area:</strong> {{ selected_venue.get_eventArea }} metre square</p>
                <p><strong>Max Capacity:</strong> {{ selected_venue.get_maxCapacity }}</p>
                <p><strong>Hire Per Day:</strong> {{ selected_venue.get_dailyPrice }}</p>
                <p><strong>Hire (Hourly Rate):</strong> {{ selected_venue.get_hourlyPrice }}</p>
                <p><strong>Description:</strong> {{ selected_venue.get_description }}</p>
            </div>
        </div>
    </div>
    
    <br>
    <br>
    <!-- Booking Form -->
    <form method="post" action="{{ url_for('customer.book_venue', venueID=selected_venue.get_venueID) }}">
        <h3>Interested? Book Now</h3>
        <div class="flex-container">
            <div class="columns">
                <label for="startDate">Event Start Date*:</label>
                <input type="date" id="startDate" name="startDate" required><br>
    
                <label for="startTime">Event Start Time*:</label>
                <input type="time" id="startTime" name="startTime" required><br>
    
                <label for="endDate">Event End Date*:</label>
                <input type="date" id="endDate" name="endDate" required><br>
    
                <label for="endTime">Event End Time*:</label>
                <input type="time" id="endTime" name="endTime" required><br>
                
                <label for="guestsNumber">Number of Guests*:</label>
                <input type="number" id="guestsNumber" name="guestsNumber" required><br>
                
                <!-- Decoration Options -->
                <label for="decoration">Choose a Decoration (Optional):</label>
                <select id="decoration" name="decoration">
                    <option value="">None</option>
                    {% for decor in decoration %}
                        <option value="{{ decor[0] }}">{{ decor[1]}}</option>
                    {% endfor %}
                </select><br>
    
                <!-- Food Options -->
                <label for="food">Choose a Food Menu (Optional):</label>
                <select id="food" name="food">
                    <option value="">None</option>
                    {% for menu in food_menu %}
                        <option value="{{ menu[0]}}">{{ menu[1] }}</option>
                    {% endfor %}
                </select><br> 

                <label for="comments">Additional Event Details:</label>
                <textarea id="comments" name="comments"></textarea><br>

                <button type="submit" class = "button">Book Now</button>
            </div>
            <div class="column">
                <div><br><br>
                <h5>Availability Table for {{ selected_venue.venueName }}</h5>
                <p>* All blank space is available time period to book.</p>
                <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width:500px;">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:void(0);" id="previousWeek">Previous Week</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:void(0);" id="currentWeek">Current Week</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:void(0);" id="nextWeek">Next Week</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <table class="calendar-table">
                <thead>
                    <tr>
                        <th></th><th id="date1"></th><th id="date2"></th><th id="date3"></th><th id="date4"></th><th id="date5"></th><th id="date6"></th><th id="date7"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="time0">00:00 - 01:00</td>
                        <td id="cell0-0"></td>
                        <td id="cell0-1"></td>
                        <td id="cell0-2"></td>
                        <td id="cell0-3"></td>
                        <td id="cell0-4"></td>
                        <td id="cell0-5"></td>
                        <td id="cell0-6"></td>      
                    </tr>
                    <tr>
                        <td id="time1">01:00 - 02:00</td>
                        <td id="cell1-0"></td>
                        <td id="cell1-1"></td>
                        <td id="cell1-2"></td>
                        <td id="cell1-3"></td>
                        <td id="cell1-4"></td>
                        <td id="cell1-5"></td>
                        <td id="cell1-6"></td>
                    </tr>
                    <tr>
                        <td id="time2">02:00 - 03:00</td>
                        <td id="cell2-0"></td>
                        <td id="cell2-1"></td>
                        <td id="cell2-2"></td>
                        <td id="cell2-3"></td>
                        <td id="cell2-4"></td>
                        <td id="cell2-5"></td>
                        <td id="cell2-6"></td>
                    </tr>
                    <tr>
                        <td id="time3">03:00 - 04:00</td>
                        <td id="cell3-0"></td>
                        <td id="cell3-1"></td>
                        <td id="cell3-2"></td>
                        <td id="cell3-3"></td>
                        <td id="cell3-4"></td>
                        <td id="cell3-5"></td>
                        <td id="cell3-6"></td>
                    </tr>
                    <tr>
                        <td id="time4">04:00 - 05:00</td>
                        <td id="cell4-0"></td>
                        <td id="cell4-1"></td>
                        <td id="cell4-2"></td>
                        <td id="cell4-3"></td>
                        <td id="cell4-4"></td>
                        <td id="cell4-5"></td>
                        <td id="cell4-6"></td>
                    </tr>
                    <tr>
                        <td id="time5">05:00 - 06:00</td>
                        <td id="cell5-0"></td>
                        <td id="cell5-1"></td>
                        <td id="cell5-2"></td>
                        <td id="cell5-3"></td>
                        <td id="cell5-4"></td>
                        <td id="cell5-5"></td>
                        <td id="cell5-6"></td>
                    </tr>
                    <tr>
                        <td id="time6">06:00 - 07:00</td>
                        <td id="cell6-0"></td>
                        <td id="cell6-1"></td>
                        <td id="cell6-2"></td>
                        <td id="cell6-3"></td>
                        <td id="cell6-4"></td>
                        <td id="cell6-5"></td>
                        <td id="cell6-6"></td>
                    </tr>
                    <tr>
                        <td id="time7">07:00 - 08:00</td>
                        <td id="cell7-0"></td>
                        <td id="cell7-1"></td>
                        <td id="cell7-2"></td>
                        <td id="cell7-3"></td>
                        <td id="cell7-4"></td>
                        <td id="cell7-5"></td>
                        <td id="cell7-6"></td>
                    </tr>
                    <tr>
                        <td id="time8">08:00 - 09:00</td>
                        <td id="cell8-0"></td>
                        <td id="cell8-1"></td>
                        <td id="cell8-2"></td>
                        <td id="cell8-3"></td>
                        <td id="cell8-4"></td>
                        <td id="cell8-5"></td>
                        <td id="cell8-6"></td>
                    </tr>
                    <tr>
                        <td id="time9">09:00 - 09:00</td>
                        <td id="cell9-0"></td>
                        <td id="cell9-1"></td>
                        <td id="cell9-2"></td>
                        <td id="cell9-3"></td>
                        <td id="cell9-4"></td>
                        <td id="cell9-5"></td>
                        <td id="cell9-6"></td>
                    </tr>
                    <tr>
                        <td id="time10">10:00 - 11:00</td>
                        <td id="cell10-0"></td>
                        <td id="cell10-1"></td>
                        <td id="cell10-2"></td>
                        <td id="cell10-3"></td>
                        <td id="cell10-4"></td>
                        <td id="cell10-5"></td>
                        <td id="cell10-6"></td>
                    </tr>
                    <tr>
                        <td id="time11">11:00 - 12:00</td>
                        <td id="cell11-0"></td>
                        <td id="cell11-1"></td>
                        <td id="cell11-2"></td>
                        <td id="cell11-3"></td>
                        <td id="cell11-4"></td>
                        <td id="cell11-5"></td>
                        <td id="cell11-6"></td>
                    </tr>
                    <tr>
                        <td id="time12">12:00 - 13:00</td>
                        <td id="cell12-0"></td>
                        <td id="cell12-1"></td>
                        <td id="cell12-2"></td>
                        <td id="cell12-3"></td>
                        <td id="cell12-4"></td>
                        <td id="cell12-5"></td>
                        <td id="cell12-6"></td>
                    </tr>
                    <tr>
                        <td id="time13">13:00 - 14:00</td>
                        <td id="cell13-0"></td>
                        <td id="cell13-1"></td>
                        <td id="cell13-2"></td>
                        <td id="cell13-3"></td>
                        <td id="cell13-4"></td>
                        <td id="cell13-5"></td>
                        <td id="cell13-6"></td>
                    </tr>
                    <tr>
                        <td id="time14">14:00 - 14:00</td>
                        <td id="cell14-0"></td>
                        <td id="cell14-1"></td>
                        <td id="cell14-2"></td>
                        <td id="cell14-3"></td>
                        <td id="cell14-4"></td>
                        <td id="cell14-5"></td>
                        <td id="cell14-6"></td>
                    </tr>
                    <tr>
                        <td id="time15">15:00 - 16:00</td>
                        <td id="cell15-0"></td>
                        <td id="cell15-1"></td>
                        <td id="cell15-2"></td>
                        <td id="cell15-3"></td>
                        <td id="cell15-4"></td>
                        <td id="cell15-5"></td>
                        <td id="cell15-6"></td>
                    </tr>
                    <tr>
                        <td id="time16">16:00 - 17:00</td>
                        <td id="cell16-0"></td>
                        <td id="cell16-1"></td>
                        <td id="cell16-2"></td>
                        <td id="cell16-3"></td>
                        <td id="cell16-4"></td>
                        <td id="cell16-5"></td>
                        <td id="cell16-6"></td>
                    </tr>
                    <tr>
                        <td id="time17">17:00 - 18:00</td>
                        <td id="cell17-0"></td>
                        <td id="cell17-1"></td>
                        <td id="cell17-2"></td>
                        <td id="cell17-3"></td>
                        <td id="cell17-4"></td>
                        <td id="cell17-5"></td>
                        <td id="cell17-6"></td>
                    </tr>
                    <tr>
                        <td id="time18">18:00 - 19:00</td>
                        <td id="cell18-0"></td>
                        <td id="cell18-1"></td>
                        <td id="cell18-2"></td>
                        <td id="cell18-3"></td>
                        <td id="cell18-4"></td>
                        <td id="cell18-5"></td>
                        <td id="cell18-6"></td>
                    </tr>
                    <tr>
                        <td id="time19">19:00 - 20:00</td>
                        <td id="cell19-0"></td>
                        <td id="cell19-1"></td>
                        <td id="cell19-2"></td>
                        <td id="cell19-3"></td>
                        <td id="cell19-4"></td>
                        <td id="cell19-5"></td>
                        <td id="cell19-6"></td>
                    </tr>
                    <tr>
                        <td id="time20">20:00 - 21:00</td>
                        <td id="cell20-0"></td>
                        <td id="cell20-1"></td>
                        <td id="cell20-2"></td>
                        <td id="cell20-3"></td>
                        <td id="cell20-4"></td>
                        <td id="cell20-5"></td>
                        <td id="cell20-6"></td>
                    </tr>
                    <tr>
                        <td id="time21">21:00 - 22:00</td>
                        <td id="cell21-0"></td>
                        <td id="cell21-1"></td>
                        <td id="cell21-2"></td>
                        <td id="cell21-3"></td>
                        <td id="cell21-4"></td>
                        <td id="cell21-5"></td>
                        <td id="cell21-6"></td>
                    </tr>
                    <tr>
                        <td id="time22">22:00 - 23:00</td>
                        <td id="cell22-0"></td>
                        <td id="cell22-1"></td>
                        <td id="cell22-2"></td>
                        <td id="cell22-3"></td>
                        <td id="cell22-4"></td>
                        <td id="cell22-5"></td>
                        <td id="cell22-6"></td>
                    </tr>
                    <tr>
                        <td id="time23">23:00 - 00:00</td>
                        <td id="cell23-0"></td>
                        <td id="cell23-1"></td>
                        <td id="cell23-2"></td>
                        <td id="cell23-3"></td>
                        <td id="cell23-4"></td>
                        <td id="cell23-5"></td>
                        <td id="cell23-6"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

        <!-- Food Menu Tabs and Content Section -->
        <div class="tab-container">
            {% for item in menus %}
            <div class="tab" data-id="menu{{ item.index }}" onclick="showMenu(this)">{{ item.menu[1] }}</div>
            {% endfor %}
        </div>
        
        <!-- Contents of each food menu -->
        {% for item in menus %}
        <div class="menu-content" data-id="menu{{ item.index }}">
           <a href="{{ url_for('static', filename=item[3]) }}" data-lightbox="menu{{ loop.index }}">
                <img src="{{ url_for('static', filename=item.menu[3]) }}" alt="{{ item.menu[1] }}" />
           </a><br><br>
            
           <p>{{ item.menu[4] }}</p>
        </div>
        {% endfor %}
        
        
        
    </form>
</div>
{% block javascript %}
    <script>
        // Initial functionality once the window loads
        window.onload = function() {
        const firstTab = document.querySelector('.tab');
        if (firstTab) {
            showMenu(firstTab);
        }
    };

        // Function to toggle between different food menus
        function showMenu(element) {
            // Use the data-id attribute to get the unique identifier for the clicked menu.
            const menuId = element.getAttribute('data-id');

            // Select all elements with the class 'menu-content'.
            const menuContents = document.querySelectorAll('.menu-content');
            menuContents.forEach(content => {
                // Use the data-id attribute to compare the ids.
                if (content.getAttribute('data-id') === menuId) {
                    // Add the active-content class to the matched content.
                    content.classList.add('active-content');
                } else {
                    // Remove the active-content class from other contents.
                    content.classList.remove('active-content');
                }
            });

            // Select all elements with the class 'tab'.
            const tabs = document.querySelectorAll('.tab');
            tabs.forEach(tab => {
                // Add the active class to the clicked tab and remove from others.
                tab.classList[element === tab ? 'add' : 'remove']('active');
            });
        }

        // Swiper carousel setup
        const swiper = new Swiper('.swiper-container', {
            pagination: {
                el: '.swiper-pagination',
                type: 'bullets',
                clickable: true
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });

        // Extract data_dict from the background, including calendar information corresponding to the venue_id of all changed pages
        var data_dict = {{ calendar_dict | safe }};
        console.log(data_dict);

        //////////////////////////////The following is the page turning + changing header function////////////// //////////////
        document.addEventListener("DOMContentLoaded", function() {
            // JavaScript code to populate the date and display the day of the week by default
            const today = new Date();
            const days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];

            //Initialize date range (default shows this week)
            let currentDate = new Date();
            let startOfWeek = new Date(currentDate);
            startOfWeek.setDate(currentDate.getDate() - currentDate.getDay());
            let endOfWeek = new Date(currentDate);
            endOfWeek.setDate(currentDate.getDate() + (6 - currentDate.getDay()));

            //Update date display
            for (let i = 0; i < 7; i++) {
                const day = new Date(startOfWeek);
                day.setDate(startOfWeek.getDate() + i);
                const dateCell = document.getElementById(`date${i + 1}`);
                dateCell.textContent = `${days[day.getDay()]} ${day.toLocaleDateString()}`;
            }

            //Handle button click event
            document.getElementById('previousWeek').addEventListener('click', function () {
                //switch to previous week
                clearTable(); // Clear the table first
                startOfWeek.setDate(startOfWeek.getDate() - 7);
                endOfWeek.setDate(endOfWeek.getDate() - 7);
                updateDateCells(); // Update cell status
                fillCells(data_dict); // Update cell status
            });

            document.getElementById('nextWeek').addEventListener('click', function () {
                //switch to next week
                clearTable(); // Clear the table first
                let startDate = new Date();
                startOfWeek.setDate(startOfWeek.getDate() + 7);
                endOfWeek.setDate(endOfWeek.getDate() + 7);
                updateDateCells();
                // Check if legacy data exists
                // Get remain_data
                const storedData = localStorage.getItem('remain_data');
                if (storedData) {
                    const remain_data = JSON.parse(storedData);
                    if (!remain_data.isProcessed) {
                        fillRemainingData(remain_data);
                        remain_data.isProcessed = true;
                        localStorage.setItem('remain_data', JSON.stringify(remain_data));
                    }
                }
            
                fillCells(data_dict); // Update cell status
            });

            document.getElementById('currentWeek').addEventListener('click', function () {
                // Back to this week
                clearTable(); // Clear the table first
                const currentDate = new Date();
                startOfWeek = new Date(currentDate);
                startOfWeek.setDate(currentDate.getDate() - currentDate.getDay());
                endOfWeek = new Date(currentDate);
                endOfWeek.setDate(currentDate.getDate() + (6 - currentDate.getDay));
                updateDateCells();
                fillCells(data_dict); // Update cell status
            });

            //Update date grid
            function updateDateCells() {
                for (let i = 0; i < 7; i++) { //i from 0-6
                    const day = new Date(startOfWeek);//Set the day variable to the start date of this week
                    day.setDate(startOfWeek.getDate() + i);//Increase the date by one day each time it loops
                    const dateCell = document.getElementById(`date${i + 1}`);//Find the id of the header cell where the date needs to be set, which is date1-date7
                    dateCell.textContent = `${days[day.getDay()]} ${day.toLocaleDateString()}`;//Set the content of the cell as: week + date
                }
            }
            //Clear table content
            function clearTable() {
                for (let i = 0; i < 7; i++) {
                    for (let hour = 0; hour < 24; hour++) {
                        const cell = document.getElementById(`cell${hour}-${i}`);
                        cell.textContent = ''; // Clear cell content
                        cell.className = ''; // Clear cell style
                    }
                }
            }
            ///////////////////////////////The above is the page turning + changing header function////////////// //////////////

        ///////////////////////////////The following is the update cell content function//////////////// ///////////
            //Set cell status style and content
            function setStatus(cell, status) {
                let statusText = ''; //Initialize the status text to an empty string

                if (status === 'Booked') {
                    cell.classList.add('cell-status-booked');
                    statusText = 'Booked'; //Set the text content to "Booked"
                } else if (status === 'Holiday') {
                    cell.classList.add('cell-status-holiday');
                    statusText = 'Holiday'; // Set the text content to "Holiday"
                } else if (status === 'Maintenance') {
                    cell.classList.add('cell-status-maintenance');
                    statusText = 'Maintenance'; // Set the text content to "Maintenance"
                } else if (status === 'Closed') {
                    cell.classList.add('cell-status-closed');
                    statusText = 'Closed'; // Set the text content to "Closed"
                } else if (status === 'Available') {
                    // Handle "Available" status here
                    // For "Available" status, leave the cell blank and don't change the class
                    cell.textContent = '';
                    cell.className = '';
                }

                cell.textContent = statusText; // Set the text content of the cell
            }

            // Define a function to convert a numeric date into a JavaScript understandable date object
            function convertNumberToDate(numberDate) {
                //Extract the year, month and day parts
                const year = Math.floor(numberDate / 10000);
                const month = Math.floor((numberDate % 10000) / 100) - 1; // month from 0 to 11
                const day = numberDate % 100;

                //Create date object
                const dateObject = new Date(year, month, day);

                return dateObject;
            }

            // Define a function to convert digital time into a time object understandable by JavaScript
            function convertNumberToTime(numberTime) {
                //Extract hours, minutes and seconds parts
                const hours = Math.floor(numberTime / 3600);
                const minutes = Math.floor((numberTime % 3600) / 60);
                const seconds = numberTime % 60;

                //Create time object
                const timeObject = new Date(0, 0, 0, hours, minutes, seconds);

                return timeObject;
            }
            
            // Function to fill cells by finding corresponding data
            function fillCells(data) {
                    data.forEach(function(entry) {
                        //Extract the numeric part of the date and time
                        const original_start_date = entry['start_date'];
                        const original_end_date = entry['end_date'];
                        const original_start_time = entry['start_time'];
                        const original_end_time = entry['end_time'];
                        const data_id = entry['calendar_id'];

                        //Convert to a date and time format that JavaScript understands
                        const startDate = convertNumberToDate(original_start_date);
                        const startTime = convertNumberToTime(original_start_time);
                        const endDate = convertNumberToDate(original_end_date);
                        const endTime = convertNumberToTime(original_end_time);

                        // Find the hour time of the start and end time
                        const startHour = startTime.getHours();
                        const endHour = endTime.getHours();

                        // Find the Index of the column where startDate is located
                        const columnIndex = findStartDateIndex(startDate);

                        // If the Index can be found, it means there is data for this week. If it cannot be found, it means there is no data.
                        if (columnIndex !== -1) {
                            if (endDate.getTime()> endOfWeek.getTime()) {// If endDate is not within the range of this week, the data needs to be saved to the next week
                                // Get the data information that has not been updated
                                const remain_data = remainData(data_id)
                                localStorage.setItem('remain_data', JSON.stringify(remain_data));
                                }
                            let hourRange;

                            // If startDate and endDate are on the same day, fill in the time cell corresponding to that day
                            if (startDate.getTime() === endDate.getTime()) {
                                hourRange = getHourRange(startHour, endHour);
                                fillCellRange(columnIndex, hourRange, entry['status']);
                            } else if (startDate!== endDate) {
                                let currentDate = new Date(startDate);//Set a currentDate variable and assign the initial value to startDate
                                while (currentDate.getTime() < endDate.getTime()) {
                                    // Fill in the first day first
                                    hourRange = getHourRange(startHour, 23);
                                    fillCellRange(columnIndex, hourRange, entry['status']);
                                    currentDate.setDate(currentDate.getDate() + 1); // After filling, come to the next day
                                    let Index = columnIndex + 1; // The corresponding index must also be increased by 1
                                    // If the date is not endDate, it means that it has not reached endDate yet, fill in the whole day
                                    if (currentDate.getTime()!== endDate.getTime()) {
                                        hourRange = getHourRange(0, 23);
                                        fillCellRange(Index, hourRange, entry['status']);
                                        currentDate.setDate(currentDate.getDate() + 1); // After filling, come to the next day
                                        Index = Index + 1; // The corresponding index also needs to be increased by 1
                                    } else if (currentDate.getTime() === endDate.getTime()) { // The day endDate is reached
                                        //The current date is endDate, which is only processed once
                                        if(Index < 7){//If the last day is still within the range of this week, fill in the last day
                                            hourRange = getHourRange(0, endHour);
                                            fillCellRange(Index, hourRange, entry['status']);
                                        }
                                    }
                                }
                            }
                        }
                    });
                }

            function remainData(dataID) {
                for (const entry of data_dict) {
                    const data_id = entry['calendar_id'];
                    if (data_id === dataID) {
                        return entry;
                    }
                }
            }

            // Find the Index of the column where startDate is located
            function findStartDateIndex(startDate) {
                for (let i = 1; i <= 7; i++) {
                    const dateCell = document.getElementById(`date${i}`);
                    const dateText = dateCell.textContent.split(' ')[1];
                    const date = new Date(dateText);
                    if (date.getTime() === startDate.getTime()) {
                        return i-1; //Because the header starts from date1, but the cells start from 0, so we need to subtract 1 here
                    }
                }
                return -1; // If not found, return -1
            }

            // Get the hour range between start time and end time
            function getHourRange(startHour, endHour) {
                const hourRange = [];
                for (let hour = startHour; hour <= endHour; hour++) {
                    hourRange.push(hour);
                }
                return hourRange;
            }

            // Fill cells within the specified date and hour range
            function fillCellRange(dayIndex, hourRange, status) {
                for (let hour of hourRange) {
                    const statusCell = document.getElementById(`cell${hour}-${dayIndex}`);
                    setStatus(statusCell, status);
                }
            }
            
            //This function is used to process the data left over from the previous week
            function fillRemainingData(remain_data) {
                    let status = remain_data['status'];
                    const currentDate = new Date();
                    // Use global startOfWeek here
    
                    //Get the data needed in the legacy data
                    const originalEndDate = remain_data['end_date'];
                    const originalEndTime = remain_data['end_time'];

                    //Convert these data into dates and times that JavaScript can handle
                    const endDate = convertNumberToDate(originalEndDate);
                    const endTime = convertNumberToTime(originalEndTime);

                    // Find the hour time of the end time
                    const endHour = endTime.getHours();

                    const currentStartOfWeek = new Date(startOfWeek);
                    currentStartOfWeek.setHours(0, 0, 0, 0);

                    // Confirm whether endDate is in the current week
                    if (endDate.getTime() >= currentStartOfWeek.getTime() && endDate.getTime() <= endOfWeek.getTime()) {
                        // Find the column with the end date
                        let columnIndex = findStartDateIndex(endDate);
                        let hourRange;
                        let currentDate = new Date(currentStartOfWeek);
                        while (currentDate.getTime() <= endDate.getTime()) {
                            if (currentDate.getTime() !== endDate.getTime()) {
                                hourRange = getHourRange(0, 23);
                            } else {
                                hourRange = getHourRange(0, endHour);
                            }
                            fillCellRange(columnIndex, hourRange, status);
                            currentDate.setDate(currentDate.getDate() + 1);
                            columnIndex++;
                        }
                    }
                }

                // Fill the foreground cells with background data
                fillCells(data_dict);

                // After initializing or switching dates, you can get the status and update the table based on the date range
                updateDateCells();
            });
    </script>
    {% endblock %}

{% endblock %}