{% extends "base.html" %}
{% block content %}

<div class = "container">

    <div class="breadcrumb">
        {% block breadcrumb %}
        {{ super() }}  
        <li class="breadcrumb-item"><a href="{{url_for('customer.home')}}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{{url_for('customer.booking_details', customerID = current_user.id)}}">Booking Details</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Booking</li>
        {% endblock %}
    </div>

    <!-- Form for editing booking details -->
    <form method="post" action="{{ url_for('customer.edit_bookings', bookingID=bookingID) }}">

        <h2>Update Your Booking Details</h2>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li class="flash-message">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}

    
        
        <!-- Dropdown for selecting venue -->
        <label for="venue">Venue:</label>
        <select id="venue" name="venue">
            {% for venue in all_venue %}
                <!-- Preselects the currently booked venue -->
                <option value="{{ venue.get_venueID }}" {% if venue.get_venueID == current_booking[1] %} selected {% endif %}>{{ venue.get_venueName }}</option>
            {% endfor %}
        </select><br>

        <!-- Input fields for start and end date and time -->
        <label for="startDate">Event Start Date*:</label>
        <input type="date" id="startDate" name="startDate" value="{{ current_booking[8] }}" required><br>

        <label for="startTime">Event Start Time*:</label>
        <input type="time" id="startTime" name="startTime" value="{{ start_time }}" required><br>

        <label for="endDate">Event End Date*:</label>
        <input type="date" id="endDate" name="endDate" value="{{ current_booking[10] }}" required><br>

        <label for="endTime">Event End Time*:</label>
        <input type="time" id="endTime" name="endTime" value="{{ end_time }}" required><br>

        <!-- Number of guests input -->
        <label for="guestsNumber">Number of Guests*:</label>
        <input type="number" id="guestsNumber" name="guestsNumber" value="{{ current_booking[12] }}" required><br>

        <!-- Textarea for additional event details -->
        <label for="comments">Additional Event Details:</label>
        <textarea id="comments" name="comments">{{ current_booking[17] }}</textarea><br>

         <!-- Dropdown for selecting decorations -->
        <label for="decoration">Choose a Decoration (Optional):</label>
        <select id="decoration" name="decoration">
            <option value="">None</option>
            {% for decor in all_decoration %}
                <!-- Preselects the currently chosen decoration -->
                <option value="{{ decor[0] }}" {% if decor[0] == current_booking[7] %}selected{% endif %}>{{ decor[1] }}</option>
            {% endfor %}
        </select><br>

        <!-- Tabs for various menus -->
        <div class="tab-container">
            {% for item in menus %}
            <div class="tab" data-id="menu{{ item.index }}" onclick="showMenu(this)">{{ item.menu[1] }}</div>
            {% endfor %}
        </div>
        
        <!-- Content related to each menu tab -->
        {% for item in menus %}
        <div class="menu-content" data-id="menu{{ item.index }}">
           <a href="{{ url_for('static', filename=item[3]) }}" data-lightbox="menu{{ loop.index }}">
                <img src="{{ url_for('static', filename=item.menu[3]) }}" alt="{{ item.menu[1] }}" />
           </a><br><br>
            
           <p>{{ item.menu[4] }}</p>
        </div>
        {% endfor %}

        <!-- Dropdown for selecting food menu -->
        <label for="food">Choose a Food Menu (Optional):</label>
        <select id="food" name="food">
            <option value="">None</option>
            {% for menu in all_food_menu %}
                <option value="{{ menu[0] }}" {% if menu[0] == current_booking[4] %}selected{% endif %}>{{ menu[1] }}</option>
            {% endfor %}
        </select><br> 

        <!-- Update and delete booking buttons -->
        <button type="submit" class="button" >Update Booking</button>

        <div class = "form-group">
            <p>Change Your Mind? Remove Booking Here.</p>
            <button type="submit" name="action" value="delete" class="mybutton delete-button" style="width: 12%;">Delete Booking</button><br>
        </div>
        
    </form>
</div>




<script>

    // Script for form interactivity and validations

    // Alert confirmation before deleting a booking
    document.querySelector(".mybutton delete-button").addEventListener("click", function(event){
        if(!confirm("Are you sure you want to delete this booking?")){
            event.preventDefault();
        }
    });

    // Show the active tab's content on load
    window.onload = function() {
    const firstTab = document.querySelector('.tab');
    if (firstTab) {
        showMenu(firstTab);
    }
};

    function showMenu(element) {
        // Use the data-id attribute to get the unique identifier for the clicked menu.
        const menuId = element.getAttribute('data-id');

        // Select all elements with the class 'menu-content'.
        const menuContents = document.querySelectorAll('.menu-content');
        menuContents.forEach(content => {
            // Use the data-id attribute to compare the ids.
            if (content.getAttribute('data-id') === menuId) {
                // Add the active-content class to the matched content.
                content.classList.add('active-content');
            } else {
                // Remove the active-content class from other contents.
                content.classList.remove('active-content');
            }
        });

        // Select all elements with the class 'tab'.
        const tabs = document.querySelectorAll('.tab');
        tabs.forEach(tab => {
            // Add the active class to the clicked tab and remove from others.
            tab.classList[element === tab ? 'add' : 'remove']('active');
        });
    }

</script>

{% endblock %}
