{% extends "base.html" %}
{% block content %}

<div class = "container">

    <div class = "breadcrumb">
        {% block breadcrumb %}
        {{ super() }}  
        <li class="breadcrumb-item"><a href="{{url_for('admin.home')}}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{{url_for('admin.view_customer')}}">Customer List</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
        {% endblock %}
    </div>
    
    <h2>Edit My Profile</h2>
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flash-messages">
        {% for message in messages %}
        <li class="flash-message">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    
        <div class="w-lg-50">
            <form method="POST" action="{{ url_for('admin.edit_profile', adminID = current_user.id) }}">
                
                {% if msg %}
                <div class="container">
                    <div class="alert alert-danger">
                        <span style="color: black;" class="custom-calibri">{{ msg }}</span>
                    </div>
                </div>
                {% endif %}

                <div class="form-group position-relative">
                    <label for="title" class="form-label edit-label"><strong>Title*:</strong></label>
                    <select id = "title" name = "title">
                        <option value = "{{anAdmin[2]}}">{{anAdmin[2]}}</option>
                        <option value = "Mr">Mr</option>
                        <option value = "Mrs">Mrs</option>
                        <option value = "Ms">Ms</option>
                        <option value = "Miss">Miss</option>
                        <option value = "Mx">Mx</option>
                    </select>
                </div>

                <div class="form-group position-relative">
                    <label for="first_name" class="form-label edit-label"><strong>First Name*:</strong></label>
                    <input type="text" id="first_name" name="first_name" value="{{ anAdmin[3] }}" pattern="[a-zA-Z]+"><br>
                </div>

                <div class="form-group position-relative">
                    <label for="last_name" class="form-label edit-label"><strong>Last Name*:</strong></label>
                    <input type="text" id="last_name" name="last_name" value="{{ anAdmin[4] }}" pattern="[a-zA-Z]+"><br>
                </div>

                <div class="form-group position-relative">
                    <label for="email" class="form-label edit-label"><strong>Email*:</strong></label>
                    <input type="email" id="email" name="email" value="{{ anAdmin[7] }}" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"><br>
                </div>

                <div class="form-group position-relative">
                    <label for="phone" class="form-label edit-label"><strong>Phone:</strong></label>
                    <input type="tel" id="phone" name="phone" value="{{ anAdmin[6]}}" pattern="[0-9]*"><br>
                </div>

                <a href="{{ url_for('admin.change_password', adminID = current_user.id)}}" style="color:#740b5d;"> Change Password</a>
            
                <div class="btn-toolbar justify-content-between">
                    <input type="submit" value="Confirm Changes" class="btn btn-dark w-100 w-lg-50">
                </div>
            </form>
        </div>

</div>


{% endblock %}
