{% extends "base.html" %}
{% block content %}

<div class="container">

  <div class = "breadcrumb">
    {% block breadcrumb %}
    {{ super() }}  
    <li class="breadcrumb-item"><a href="{{url_for('admin.home')}}">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">Planner List</li>
    {% endblock %}
  </div>  

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class="flash-messages">
      {% for message in messages %}
      <li class="flash-message">{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}

  <!-- Title and Add button -->
  <div class="header-section">
    <h3>Planner Management</h3>
  </div><br>

    <!-- Display message if exists -->
    {% if msg %}
      <div class="message-section">
        <div class="alert alert-danger">
          <span style="color: black;" class="custom-calibri">{{ msg }}</span>
        </div>
      </div>
    {% endif %}

    <!-- Search bar -->
    <div class="search-section">
        <form method="POST" action="/admin/planner_list">
            <button class="button add-button" data-toggle="modal" data-target="#addModal" name="add_planner" value="Add" style = "width: 25%;">Add</button><hr>

          <div class = "form-group">
            <input type="search" name="search_planner" autocomplete="off" placeholder="Search by Name, Email or Address" required >
            <button type="submit" value="Search" class="button" style = "width: 15%;">Search</button>
        <br>
          </div> 
        </form>
    </div>
    <br>

    <div class = "form-group">
      <a href="{{ url_for('admin.view_planner') }}" class="mybutton">Reset</a>
  </div>
  <br>
    
    <!-- Table to list planners -->
    <div>
      <table id="bookingTable" data-toggle="table" data-show-export="true" class="table table-bordered">
            <thead>
                <tr>
                    <th data-sortable="true">Title</th>
                    <th data-sortable="true">First Name</th>
                    <th data-sortable="true">Last Name</th>
                    <th data-sortable="true">Email</th>
                    <th data-sortable="true">Address</th>
                    <th>User Management</th>
                    <th>View Bookings</th>
                </tr>
            </thead>
            <tbody>
                {% for planner in planner_list %}
                    <tr>
                        <td>{{planner[2]}}</td>
                        <td>{{planner[3]}}</td>
                        <td>{{planner[4]}}</td>
                        <td>{{planner[7]}}</td>
                        <td>{{planner[8]}}</td>
                        <td><a href="/admin/manage_planner/{{planner[0]}}">Manage</a></td>
                        <td><a href="/admin/view_bookings_plan/{{planner[0]}}">View</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

<!-- Add Planner Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header bg-primary text-custom">
              <h5 class="modal-title" id="addModalLabel">Add Planner</h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            <form action="{{ url_for('admin.view_planner')}}" method="POST">
              <div class="form-group">
                <label for="title"><i class="fas fa-user"></i>Title</label>
                <select class="form-control" id="title" name="title">
                    <option value="Mrs">Mrs</option>
                    <option value="Ms">Ms</option>
                    <option value="Miss">Miss</option>
                    <option value="Mr">Mr</option>
                    <option value="Mx">Mx</option>
                    <option value="Dr">Dr</option>
                </select>
              </div>

              <div class="form-group">
                <label for="first_name"><i class="fas fa-font"></i>First Name</label>
                <input type="text" class="form-control" name="first_name" placeholder="First Name" id="first_name" required pattern="[a-zA-Z]+" required>
              </div>

              <div class="form-group">
                <label for="last_name"><i class="fas fa-font"></i>Last Name</label>
                <input type="text" class="form-control" name="last_name" placeholder="Last Name" id="last_name" required pattern="[a-zA-Z]+" required>
              </div>

              <div class="form-group">
                <label for="email"><i class="fas fa-envelope"></i>Email</label>
                <input type="email" class="form-control" name="email" placeholder="Email" id="email" required>
              </div>

              <div class="form-group">
                <label for="password"><i class="fas fa-lock"></i>Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password" id="password" required>
              </div>

              <div class="text-center">
                  <button type="submit" name="btn_register" value="Register" class="button">Add Planner</button>
              </div>
            </form>
          </div>
      </div>
  </div>
</div>

               

<script>
  $(document).ready(function() {
    $(".add-button").click(function() {
      $("#addModal").modal("show");
    });
  });

</script>

{% endblock %}
