{% extends "base.html" %}
{% block content %}

<div class="container">
    <!-- <a href="{{ url_for('home.home') }}" class="button"> Back to Home Page</a><br> -->

    <div class = "breadcrumb">
        {% block breadcrumb %}
        {{ super() }}  
        <li class="breadcrumb-item active" aria-current="page">Send enquiry</li>
        {% endblock %}
    </div>

    <div id="update-form" class="edit">
        <div style="text-align: center;">
            <h2 style="display: inline-block;">Have an enquiry?</h2>
        </div>
        <div style="text-align: center;">
            <p style="font-family: Arial, Helvetica, sans-serif;">Use the form below to get in touch with the team.</p> 
        </div>
        
        <div class="row" style="padding-left: 20%; padding-right: 20%;">
            <!-- Message -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="myflash-messages">
                    {% for message in messages %}
                        <li class="myflash-message">{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            <div class="custom-alert" >
                {% if msg %}
                <div class="checkmark">✓</div>
                <div class="alert-message">
                        {{ msg }}
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- form content -->
        <div class="row">
            <div class="col-md-6" style="padding-left: 20%;">
                <form method="POST" action="{{ url_for('home.send_enquiry') }}">
                <div class="form-group" >
                    <label for="guest_title" class="form-label"><strong>Title*:</strong></label>
                    <select id = "guest_title" name = "guest_title" required>
                        <option value = "Mr">Mr</option>
                        <option value = "Mrs">Mrs</option>
                        <option value = "Ms">Ms</option>
                        <option value = "Miss">Miss</option>
                        <option value = "Mx">Mx</option>
                    </select>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6" style="padding-left: 20%;">
                <div class="form-group">
                    <label for="first_name" class="form-label edit-label"><strong>First name*</strong></label>
                    <input type="text" id="first_name" name="first_name" style="width: 100%;" required>
                </div>
            </div>

            <div class="col-md-6" style="padding-right:20%;">
                <div class="form-group">
                    <label for="last_name" class="form-label edit-label"><strong>Last name*</strong></label>
                    <input type="text" id="last_name" name="last_name" style="width: 100%;" required>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6" style="padding-left: 20%;">
                <div class="form-group">
                    <label for="email" class="form-label edit-label"><strong>Email*</strong></label>
                    <input type="email" id="email" name="email" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" style="width: 100%;" required>
                </div>
            </div>
        

            <div class="col-md-6" style="padding-right:20%;">
                <div class="form-group">
                    <label for="phone" class="form-label edit-label"><strong>Phone</strong></label>
                    <input type="tel" id="phone" name="phone" pattern="[0-9]*" style="width: 100%;">
                </div>
            </div>
        </div>

            <div class="form-group center" style="padding-left: 20%; padding-bottom: 1%;">
                <div class="form-group">
                    <label for="enquiry"><strong>Message*</strong></label>
                    <textarea rows="5" id="enquiry" name="enquiry" placeholder="Please provide a brief description of your event, your preferred room (if any) as well as any additional information such as A/V, seating style, catering requirements, etc." required></textarea>
                </div>
            </div>

            <div class="form-group center" style="padding-left: 20%;">
                <input type="checkbox" id="agree_email" name="agree_email" >
                <label for="agree_email" >I agree to receive emails about relevant content, products, and services.</label>
            </div>
            

            <div class="form-group center" style="padding-left: 20%;">
                <div class="form-group">
                    <div class="btn-toolbar justify-content-between">
                        <input type="submit" value="Submit Enquiry" class="button" style="margin-bottom: 15px; width: fit-content;" >
                    </div>
                </div>
            </div>
        </form>
        
    </div>
    
</div>



{% endblock %}